.Modal__wrap{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(235, 230, 230, 0.936);
}

.Modal{
    display: flex;
    flex-direction: column;
}

.Modal__img{
    width: 600px;
    height: 400px;
}